@{
    ViewData["Title"] = "Index";
}

<h1>Inserisci il Codice Fiscale</h1>

<form asp-controller="Home" asp-action="SpedizioniPerClientePrivato" method="post">
    <div class="form-group">
        <label for="codiceFiscale">Codice Fiscale:</label>
        <input type="text" id="codiceFiscale" name="codiceFiscale" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Cerca Spedizioni</button>
</form>
