html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #962C35 !important;
}

.navbar {
    background-color: #234E89 !important;
}

.btn-personal{
    background-color: #234E89 !important;
    color: white !important;
    border-color: #234E89 !important;
}

.btn-personal:hover {
        background-color: #1A3A68 !important; 
        border-color: #1A3A68 !important; 
    }

.btn-personal2 {
    background-color: #c9a508 !important;
    border-color: #c9a508 !important;
    color: #f0f0f0 !important;
}

    .btn-personal2:hover {
        background-color: #a98406 !important; /* colore più scuro */
        border-color: #a98406 !important; /* colore più scuro */
    }


