@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-light">Benvenuto alla banca dati!</h1>
    <div>
        <img src="~/img/pngegg.png" alt="Logo" style="width: 400px; height: 600px;" />
     </div>
</div>
