@model IEnumerable<PROGETTO_G5.Models.TipoViolazione>
@{
    ViewData["Title"] = "Tipi di Violazione";
}

<h1 class="text-light fst-italic">Violazioni</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-light">Identificativo Violazione</th>
            <th class="text-light">Descrizione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var violazione in Model)
        {
            <tr>
                <td class="text-light">@violazione.IdViolazione</td>
                <td class="text-light">@violazione.Descrizione</td>
            </tr>
        }
    </tbody>
</table>